html, body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #232323;
    color: #ffffff;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

* {
    outline: none;
}

a {
    text-decoration: none;
}

.editor-container {
    max-height: 90vh;
}

#editor {
    position: relative;
    height: 93vh;
    right: 0;
    bottom: 0;
}

.container {
    display: grid;
    grid-template-columns: 60% 40%;
}


.io {
    display: grid;
    grid-template-rows: 50% 50%;

}

.io-heading {
    /*background-color: #2c2c2c;*/
    padding-left: 15px;
    width: 90%;
}

.io-field {
    background-color: transparent;
    width: 93%;
    height: 37vh;
    overflow-y: scroll;
    border-left: 5px solid #2c2c2c;
    border-right: none;
    border-top: none;
    border-bottom: none;

    margin-left: 10px;

    padding-left: 20px;
    padding-right: 10px;

    resize: none;
    color: #ffffff;

    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
}


.nav {
    background-color: #2c2c2c;
    padding: 0 40px;
    display: flex;
    font-size: 13px;
}

.logo {
    margin: auto auto auto 10px;
}

.logo-name {
    color: #ffffff !important;
    font-size: 1.2rem;
    font-weight: 600;
    margin-left: 5px;
}

.logo-img {
    vertical-align: middle;
    margin-bottom: 4px;
}


.options {
    justify-content: right;
}

.options ul {
    list-style: none;
}

select {
    border: 2px solid #ffffff;
    color: #ffffff;
    border-radius: 4px;
    display: inline-block;

    font: inherit;
    font-size: 14px;
    font-weight: 600;

    line-height: 1.5em;

    padding: 0.7em 3.5em 0.7em 1em;

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.options ul li {
    display: inline;
    margin: 0 20px;
    font-weight: 500;
    width: 100px;
    font-size: 1rem;
}

select.select-dropdown {
    background: url(../img/down.svg);
    background-position: calc(100% - 15px) calc(1.1em), calc(100% - 15px) calc(1em + 2px), calc(100% - .5em) .5em;
    background-size: 10px 10px, 10px 10px, 1.5em 1.5em;
    background-repeat: no-repeat;
}

optgroup {
    color: black;
}

option {
    background: white;
    color: #000000;
    font-family: 'Poppins', sans-serif;
}

.run {
    padding: 0.7em 3.5em;
    background-color: #ff4f30;
    border: 2px solid #ff4f30;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;

}

.alert {
    top: 20px;
    right: 20px;
    width: 40%;
    z-index: 1000;
    border-radius: 5px;

    padding: 20px;

    color: #ffffff;
    font-weight: 600;
}

.error {
    background-color: #ff4e2e;
    position: absolute;
}

.success {
    background-color: #4ad369;
    position: absolute;
}

.processing {
    position: absolute;
    background-color: #e8f8ff;
    border-radius: 4px;
    color: #0c0c10;

}

.closebtn {
    margin-left: 15px;
    color: #ffffff;
    float: right;
    font-size: 22px;
    line-height: 26px;
    cursor: pointer;
    transition: 0.3s;
}


.closebtn:hover {
    color: #ffe8c7;
}


.hidden {
    display: none;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #2c2c2c;
}

::-webkit-scrollbar-thumb {
    background: #8f8f8f;;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.mobile {
    display: none;
}

.output-meta {
    float: right;
    font-weight: 400;
}

#time, #mem {
    font-size: 12px;
    margin: 0 3px;
}

@media only screen and (max-width: 900px) {
    .container {
        display: none;
    }

    .mobile {
        display: flex;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .mobile-container {
        width: 300px;
        height: 300px;
    }

    .pc {
        display: none;
    }
}
